
p {
    direction: rtl;
    font-size: 20px;
}

.MainPageHeader {
    text-align: center;
    color: white;
    font-size: 30px;
    background-image: url('../HTML/img/corner-header.jpg');
    height: 150px;
    background-size: 30% 100%;
}

.Header {
    text-align: center;
    color: white;
    font-size: 30px;
    background-color: black;
    height: 150px;
}

.main_menu {
    display: flex;
    background-color: azure
}

.menu_item {
    display: inline-block;
    padding: 10px; 
    text-decoration: none;
}

.container_row {
    width: 100%;
    display: flex;
    margin-top: 5px;
}

.left_container {
    flex: 0.25;
}

.right_container {
    flex: 0.75;
}

.full_container {
    flex: 1;
}

.frame_text_style {
    direction: rtl;
    border: solid 3px black;
    background-color: #f0f0f0;
    padding: 10px;
    margin-left: 5px;
}

.image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.inner_frame {
    width: 25%;
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
}

.inner_text_frame {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}
